body {
  font-family: 'Montserrat', sans-serif;
}
.nav-link {
  color: black;
}
.nav-bar {
  text-align: center;
  font-size: 24px;
  color: black;
}
.jumbotron {
  background-image: url("../images/background.png");
  background-size: cover;
  text-align: center;
  height: 300px;
  padding-top: 50px;
  padding-right: 75px;
  position: relative;
  color: white;
}
.card {
  padding: 20px;
  text-align: center;
}
.portrait {
  padding-bottom: 40px;
  animation: bouncePortrait 1s infinite;

}
@keyframes bouncePortrait {
  from {
    margin-top: 0px;
  }
  50% {
    margin-top: 8px;
  }
  to {
    margin-top: 0px;
  }
}
.aboutMe {
  padding-top: 100px;
}
.about {
  height: 650px;
}
.cards {
  margin-top: 15px;
}
.preloader {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 100000;
  background-color: white;
  top: 0;
  display: flex;
  align-items: center;
}
.loader {
  animation: spin 3s ease;
  width: 150px;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(720deg);
  }
}
